html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  border-color: #79756f;
  margin-top: 0;

}

*, *::before, *::after {
  box-sizing: inherit;
}

head {
  background-color: #79756f;
  border-color: #79756f;
}

body {
  background-color: #79756f;
  color: #dbd6cf;
  border-color: #79756f;
margin: 0;
}

.cards {
  margin: 0 0.6em 0.5 0.75;
  padding: 0.3em;
  list-style-type: none;
  text-align: center;
  line-height: 1.5;
}

.cards li {
  display: inline-block;
  margin: 0;
  max-width: 20em;
  padding: 0.6em 0.5em 0.75em;
  border-radius: 4px;
  text-align: center;
  background-color: #713837;
  color: #fff;
  font-family: 'Georgia', sans-serif;
  font-weight: lighter;
}

h1 {
  font-family: 'Bevan', cursive;
  color: #fff;
  text-align: center;
  background-color: #79756f;

}

a {
  color: #fff;
  text-decoration: none;
}

.cards a:hover {
  background-color: #f33;
  color: #fff;
  padding: .6em 0.5em 0.75em;
  margin: 0.3em;
  max-width: 20em;
  border-radius: 10px;
}
