html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;

}
*, *::before, *::after {
  box-sizing: inherit;
}
head {
  background-color: #595652;
}
body {
  background-color: #595652;
  color: #dbd6cf;
}
.cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.cards li {
  display: inline-block;
  margin: 0.3;
  max-width: 20em;
  padding: .6em 0.5em 0.75em;
  border-radius: 10px;
  text-align: center;
  background-color: #713837;
  color: #fff;
  font-family: 'Bevan', sans-serif;
  font-weight: normal;
}
h1 {
  font-family: 'Bevan', cursive;
  color: #fff;
  text-align: center;
  background-color: #595652;

}
a {
  color: #fff;
  text-decoration: none;
}
.cards a:hover {
  background-color: #f33;
  color: #fff;
  padding: .6em 0.5em 0.75em;
  margin: 0.3;
  max-width: 20em;
  border-radius: 10px
}
